*{
    font-size: 20px;
}
.introText {
    text-align: center;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #05263a;
    margin: 1em auto;
    padding: 0;
}

.intoP{
    text-align: center;
    font-family: "Lato", sans-serif;
}

.blueText{
    color: #005282;
    font-weight: 600;
}

.calenderContent{
    margin-top: 3rem;
}

.calender-div{
    background-color: #71a1be;
}

.caldender{
    display: block;
    margin: auto;
    width: 70px;
    height: auto;
}

.calenderText{
    color: white;
    text-align: center;
}

.jim-rickards{
    background-color: #05263a;
}

.check-point{
    background-color: grey;
}

.james-rickards {
    text-align: center;
}

.james-ricky {
    display: inline-block;
    padding-top: 20px;
    max-width: 100%;
    height: auto;
}

.rickards{
    color: white;
    text-align: center;
}

.name {
    font-size: 20px;
}

.checkpoint-list{
    text-decoration: none;
    list-style-type: none;
}

.checkpoint-text {
    text-align: center;
    font-family: "Lato", sans-serif;
}

.chk-img {
    width: 30px;
    height: auto;
}

.li-text{
    font-family: arial, sans-serif;
    padding-top: 10px;
}

.warn-div{
    background-color: #f58c99;
}

.exlam-img{
    width: 20px;
    height: auto;
}

.exlam-txt {
    color: white;
    font-family: "Lato", sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Sign up Div Styles */
.sign-up-div{
    background-color: #05263a;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 60px solid #05263a;
    margin: 0 auto;
    position: relative;
    top: 45px; 
  }

  .second-check-con{
      padding-top: 15px;
  }

  .second-check-txt{
      text-align: center;
  }




@media only screen and (max-width: 450px) {
    .exlam-img{
        display: none;
    }
  }